header{
  padding: 20px;
}

#logo{
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}

#logo img{
  width: 25px;
  height: 25px;
}

#logo h4{
  font-family: 'Ki-Bold', monospace;
  color: #fff;
  line-height: 30px;
  height: 25px;
  margin: 0;
}



